<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="http://www.intersoftware.org.co/sites/default/files/logos_marcas_internas/logos-01.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Parqueadero Ceiba
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="app.component.html"> | Inicio | </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.ceiba.com.co/en/" target="blank"> | Ceiba Software House S.A.S | </a>
      </li>
    </ul>
  </div>
</nav>
